.image{
    background-image: url(/static/image/login_bg.jpg);
    height: calc(95.7vh - 7vh);
    min-height: 470px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    width: 39.2vw;
    height: 80%;
    display: flex;
    background: none;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    flex-direction: column;
    margin-top: 35px;
}
.div2{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}
.styling{
    margin-top: 10px;
    color: white;
    font-size: 3vh;
    text-align: center;
    font-family: "Conv_Cambria Italic" !important;

}
.width{
    display: flex;
    align-items: center;
    width: 80%;
}
.pariksha{
    background: none;
    color: white;
    border-bottom: 2px blue;
    box-shadow: inset -2px -2px rgba(255, 255, 255, 1);
    border-radius: 5px;
    width: 100%;
    padding: 0px 10px;
    border: none;
    outline: 0;
    height: 4.5vh;
    font-size: 2.1vh;
    font-weight: 700;
}
::placeholder{
    color: white;
}
.phone{
    display: flex;
    width: 414px;
    height: 30px;
}
.p-input{
    flex-grow: 1;
    font-weight: 700;
    background: none;
    border: none;
    border-radius: 5px;
    box-shadow: inset -2px -2px rgba(255, 255, 255, 1);
    outline: 0;
    padding: 5px 10px;
    margin-left: 10px;
    height: 25px;
    font-size: 17px;
    color: white;
}
#grow{
    display: flex;
    flex-grow: 1;
}
.star{
    color: red;
}
.selection{
    height: 30px;
    width: 100px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.flags{
    height: 23px;
}
.ss{
    background-color: #DB3B35;
    padding: 5px 5px;
}
.form{
    display: flex;
    margin-bottom: -4.5vh;
    align-items: center;
    margin-top: -4vh;
    width: 88%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
}
.submit{
    width: 70%;
    font-size: 2.2vh;
    height: 4vh;
    background-color: #d51912;
    border: 1px solid #d51912;
    border-radius: 5px;
    color: white;
}
.existing{
    width: 70%;
    font-size: 2.2vh;
    height: 4vh;
    border: 1px solid #d51912;
    border-radius: 5px;
    color: white;
    background-color: #d51912;
}
.target{
    cursor: pointer;
    font-size: 2.1vh;
    color:red !important;
    font-weight: 700;
}
.selected{
    width: 60px;
    font-size: 16px;
    border: none;
    background: none;
    height: 23px;
    color: white;
    box-shadow: inset -2px -2px rgba(255, 255, 255, 1);
}
.forgot{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-decoration: none;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 37%;
    margin-top: 0px;
    margin-bottom: -13px;
    justify-content: space-between;
}

.eye{
    color: white;
    margin-left: -3.5vw;
}

.swal{
    display: flex;
    flex-direction: column;
}

.swal-text{
    width: 52%;
    font-size: 2.6vh;
    padding: 8px;
    text-align: center;
    background-color: #e0e5ff;
    height: 17%;
    color: black;
    font-weight: 600;
}


.swal-title {
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
  }

.swal-overlay--show-modal .swal-modal {
    opacity: 1;
    pointer-events: auto;
    box-sizing: border-box;
    -webkit-animation: showSweetAlert .3s;
    animation: showSweetAlert .3s;
    will-change: transform;
}

.swal-modal {
    width: 28vw;
    /* height: 38vh; */
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s, -webkit-transform .3s;
    transition: transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s, -webkit-transform .3s;
}

.swal-button {
    background-color: #7cd1f9;
    color: #fff;
    /* border: none; */
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.8vh;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}