*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    margin-left: 1px;
    width: 99.8%;
    height: 100%;
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: #f4f1ee;
}
.logo{
    width: 17vh;
    padding: 8px 8px
}
button{
    border: none;
    background-color: transparent;
}
button:hover{
    cursor: pointer;
}
.search{
    border: 1px solid #cb8751;
    border-radius: 10px;
    background-color: white;
    display: flex;
    height: 4.24vh;
    width: 50vw;
    font-size: 2vh;
}
.inp{
    padding: 0px 10px;
    pointer-events: auto;
    flex: 1;
    /* height: 0; */
    border-radius: 10px;
    border: none;
}
.tag{
    margin-right: 5px;
    margin-left: 8px;
    height: 5vh;
    font-size: 5vh;
    border: 1px solid rgb(175, 171, 171);
    border-radius: 3px;
    border: none;
    pointer-events: auto;
}
.all{
    background-color: #f4cbaa;
    width: 10%;
    height: 100%;
    border-radius: 10px;
    border: none;
    pointer-events: auto;
}
.inp:focus{
    outline: 0;
}
.all:focus{
    outline: 0;
}
.search:has(.inp:focus){
    box-sizing: content-box;
    border-radius: 11px;
    height: 4vh;
    border: 2.5px solid #cb8751;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
}
.same{
    font-size: 2.2vh;
    color: black;
}
.select{
    border: none;
    background-color: #f4f1ee;
}
.drop-down{
    display: none;
    text-align: center;
    background-color: #f4f1ee;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 150px;
    position: absolute;
    height: 280px;
    z-index: 1;
}
.profile{
    display: flex;
    justify-content: space-around;
}
.drop-down button{
    font-size: 12px;
    color: black;
}
.dropy:hover .drop-down{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#log{
    color: #f4f1ee;
    background-color: #DB3B35;
    opacity: 0.9;
    height: 35px;
    width: 110px;
    border-radius: 8px;
}
.menu{
    visibility: hidden;
    display: none;
}

@media (max-width:600px) {
    .main{
        height: 7vh;
        width: 100%;
    }
    .inp{
        height: 3.5vh;
    }
    .tag{
        font-size: 30px;
    }
    .all{
        height: 3.7vh;
    }
    .search{
        height: 4vh;
    }
    .logo{
      width: 12vh;
    }
    .items{
        display: none;
    }
    .menu{
        display: block;
    }
}
.animated{
    background-color: #b87652;
    overflow: hidden;
    margin-left: 5px;
    margin-top: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.covering{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300%;
    height: 4vh;
    animation: anime 12s ease-in-out infinite
}


.first1{
    text-align: center;
    width: 100%;
    padding: 0px;
    color: #f4f1ee;
    font-size: 2vh;
}

@keyframes anime {
    0%{
        transform: translateX(0%);
    }
    24%{
        transform: translateX(0%);
    }
    34%{
        transform: translateX(-33%);
    }
    54%{
        transform: translateX(-33%);
    }
    64%{
        transform: translateX(-66%);
    }
    90%{
        transform: translateX(-66%);
    }
    100%{
        transform: translateX(-99%);
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 3.7vh;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}