.body{
    background-color:#f1f1f1;
    height: 100%;
    width: 100%;
}

.info_extract{
    display: none;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 82vh;
    background-color: white;
    border-radius: 2vh;
    position: absolute;
    z-index: 9999;
    top: -600px;
    left: 470px;
    animation: smooth-appear 0.8s ease forwards;
}

.product_info{
    gap: 3vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    font-size: 2.8vh;
}

.adjust{
    width: 25vw;
    height: 4vh;
    border: 1px solid black;
    border-radius: 1vh;
    font-size: 2.1vh;
    padding: 2px 6px;
}

.product_image{
    font-size: 2.1vh;
    width: 24vw;
}

.author_name{
    font-size: 2.3vh;
    width: 8vw;
    height: 4vh;
    text-align: center;
    word-wrap: break-word;
    margin-top: 2vh;
}

/*.things{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 46vh;
}*/

.sames{
    display: flex;
    flex-direction:column;
    height: 5vh;
}
.fonts{
    font-size: 2.2vh;
    color: #ff6464;
    margin-left: 1vw;
}

.redss{
    color: #fb3d3d;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::placeholder {
    color: rgba(0, 0, 0, 0.709);
}

@keyframes smooth-appear {
    to{
      top: 70px;
    }
}

.submitss{
    font-size: 2.1vh;
    height: 5vh;
    border: 1px solid black;
    border-radius: 13px;
    width: 5vw;
    background-color: #e4e4e4;
}

.truncating{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

table {
    table-layout: fixed;
}

.dots{
    font-size: larger;
    font-weight: bolder;
    color: black;
    visibility: hidden;
}

.selections{
    border: 2px solid #c4c2c2;
}

.prev{
    border: 2px solid #c4c2c2;
    background-color: #eeeded;
}

.next{
    border: 2px solid #c4c2c2;
    background-color: #eeeded;
}

.logo{
    margin-top: 20px;
}

.uploads{
    border: 2px solid white;
    background-color: #f3be92;
    font-weight: 600;
}

.stars-outer::before{
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 900;
    font-family: "Font Awesome 5 FREE";
    color: #ccc;
}

.stars-inner::before{
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 900;
    font-family: "Font Awesome 5 FREE";
    color: #f8ce0b
}

.stars-outer{
    position: relative;
    left: -10px;
    font-size: 2.5vh;
}
.stars-inner{
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.5vh;
}

.colorings{
    display: flex;
    height: 3.5vh;
    width: 3.4vw;
    align-items: center;
    justify-content: center;
    background-color: #28a728;
    border-radius: 4px;
}

.colorings > span{
    font-size: 2vh;
    color: #ffffff;
}

.subscript{
    color: #dc3545;
    font-weight: bolder;
}
.opted{
    background-color: #f3be92;
}

/* Dropdown Button */
.dropbtn {
    background-color: #f3be92;
    color: black;
    padding: 4px;
    border: 2px solid white;
    font-weight: 600;
    border-radius: 2vh;
    font-size: 2.4vh;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

